<div class="styled-div">
<h1 *ngIf="showHeading">
  Reactive Form Validator
</h1>
<!--<table border="1px">
<tr *ngFor="let m of movies">
  <td>
    {{m}}
  </td>
</tr>
</table>

<select [(ngModel)]="selectedValue"> 
  <option *ngFor="let item of items;" [value]="item.name">{{item.name}}</option> 
</select> 
<div class='row' [ngSwitch]="selectedValue"> 
  <div *ngSwitchCase="'One'">One is Pressed</div> 
  <div *ngSwitchCase="'Two'">Two is Selected</div> 
  <div *ngSwitchDefault>Default Option</div> 
</div> 
-->
<form [formGroup]="loginForm" (ngSubmit)="loginUser" class="styled-form">
  <input type="text" placeholder="enter Email ID" formControlName="user">
  <br>
  <span style="color: red;" *ngIf="user && user.invalid && user.touched">This input filed is not valid</span>
   <br><br>
  <input type="password" placeholder="enter password" formControlName="password"> 
  <br>
  <span style="color: red;" *ngIf="password && password.invalid && password.touched">This password filed is not valid</span>
  <br>
  <br>
  <button [disabled]="loginForm.invalid">Login</button>
</form>
</div>